<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>
<body>
    <section >
      <div class="container" >
        <div *ngFor="let item of Users" style="text-align:center ;font-size: 30px;color:white;background-color: #808F9C;border-radius:12px;text-align: right;">Login as: {{item.username}} </div>


       </div>
       <!-- <div *ngFor="let item of companies" style="text-align:right ;font-size: 50px;">
        Username: {{item.username}}
       </div> -->



            <div class="container">

                <div class="row" style="padding-top: 30px; ">
                    <div style="padding-left: 140px; padding-right: 60px;" >
                      <form (ngSubmit)="onSubmit1()" action="sales">
                        <button type="submit" style="border-radius:20px; height: 140px; width: 350px;" class="b1" ><p style="font-size: 35px; color: black;"><b>Sales</b></p></button>
                      </form>
                      </div>
                    <div style="padding-left: 100px;padding-right: 60px;">
                    <form  (ngSubmit)="onSubmit6()" action="purchase">
                        <button type="submit" style="border-radius:20px; height: 140px; width: 350px;" class="b1" ><p style="font-size: 35px; color: black;"><b>Purchase</b></p></button>
                      </form>
                      </div>
                </div>
                <div class="row" style="padding-top: 30px; ">
                    <div style="padding-left: 140px; padding-right: 60px;" >
                    <form (ngSubmit)="onSubmit2()" action="all-journal-entry">
                        <button type="submit" style="border-radius:20px; height: 140px; width: 350px;" class="b1" ><p style="font-size: 35px; color: black;"><b>Journal Entry</b></p></button>
                      </form>
                      </div>
                    <div style="padding-left: 100px;padding-right: 60px;">
                    <form (ngSubmit)="onSubmit5()" action="payroll">
                        <button type="submit" style="border-radius:20px; height: 140px; width: 350px;" class="b1" ><p style="font-size: 35px; color: black;"><b>Pay Roll</b></p></button>
                      </form>
                      </div>
                </div>
                <div class="row" style="padding-top: 30px; ">
                    <div style="padding-left: 140px; padding-right: 60px;" >
                    <form  (ngSubmit)="onSubmit3()" action="registration">
                        <button type="submit" style="border-radius:20px; height: 140px; width: 350px;" class="b1" ><p style="font-size: 35px; color: black;"><b>Registration</b></p></button>
                      </form>
                      </div>
                    <div style="padding-left: 100px;padding-right: 60px;">
                      <form (ngSubmit)="onSubmit4()" action="reports">
                        <button type="submit" style="border-radius:20px; height: 140px; width: 350px;" class="b1" ><p style="font-size: 35px; color: black;"><b>Reports</b></p></button>
                      </form>
                      </div>
                </div>


            </div>

    </section>
</body>
