<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>
<body>
  <section style="padding-top:30px">
    <div class="container">
      <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px;">Registration </p></b></button>
       &emsp;
      <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Ledger Registration</p></b></button>
      <br>
    </div>

    <form [formGroup]="LedgerForm" (ngSubmit)="onSubmit1()" >
      <div class="container-sm ">

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
             <label class="form-control"  style="border-radius:12px;padding: 10px;"> Ledger ID </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Ledger ID" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control"  placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
             <label class="form-control"  style="border-radius:12px;padding: 10px;"> Ledger Name </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Ledger Name" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" formControlName="ledger_name" placeholder="" >
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
             <label class="form-control"  style="border-radius:12px;padding: 10px;"> Group Name </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Group Name" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control"formControlName="group_name"  placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Date </label>

          </div>

          <div class="col" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="date">
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
             <label class="form-control"  style="border-radius:12px;padding: 10px;"> Category </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Category" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" formControlName="category" placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Opening Balance </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Opening Balance" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" formControlName="opening_bal" placeholder="" >
          </div>
        </div>

      </div>

      <div class="container">
        <div class="row" style="padding-top: 15px;">

            <button type="submit" style="border-radius: 12px;width:100%;" class="btn btn-lg btn-block">Submit & Register New</button>





        </div>
      </div>
    </form>
    <br>
    <form  action="home-page">

      <button type="submit" style="border-radius: 12px;width: 80%;margin-left: 10%;margin-right: 50%;" class=" a btn btn-lg btn-block">Submit & Go to Home Page</button>
    </form>
    </section>
    <table border="1" class="table table-bordered" input align="center">

      <thead class="alert-warning">
      <tr>
          <th>Ledger name</th>
          <th>Group name</th>
          <th>Category</th>
          <th>Opening Balance</th>
          <th>Date</th>
          <!-- <th>CR No</th> -->

      </tr>
      </thead>
      <tbody>

          <tr  *ngFor="let item of ledgers">
              <td>{{item.ledger_name }}</td>



              <td>{{item.group_name }}</td>
              <td>{{item.category }}</td>
              <td>{{item.opening_bal }}</td>
              <td>{{item.date }}</td>
              <!-- <td>{{item.cr_no }}</td>
              <td>{{item.expired_on }}</td>
              <td>{{item.land_phone }}</td>
              <td>{{item.mobile }}</td>
              <td>{{item.email }}</td>
              <td>{{item.address }}</td> -->
              <td><a href="ledger/{{item.id}}/edit">Edit</a></td>
              <td><a href="" (click)="delete(item.id)">Delete</a></td>
           </tr>

      </tbody>
  </table>
  </body>
