<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>
<body>
    <section style="padding-top:30px">
    <div class="container">

      <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Item Statement</p></b></button>
      <br>
    </div>

      <form [formGroup]="ItemStatementForm" (ngSubmit)="onSubmit()">
        <div class="container-sm ">

        <div class="row">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; ">Date  </label>

          </div>
          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="date">
          </div>
        </div>



          <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Report Date</label>

          </div>

          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="report_date">
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Item ID </label>

          </div>

          <div class="col-sm-7" >
            <input type="number"  style="border-radius:12px;" class="form-control" placeholder="" name="">
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; ">  Period </label>

          </div>

          <div class="col-sm-7" >
            <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" name="">
          </div>
        </div>

        <br><br>
        <div class="container">
          <button type="submit" style="border-radius: 12px;" class="btn btn-lg btn-block">Submit</button>
        </div>
        <br><br>


        <div class="container">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sl.no</th>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Item Description</th>
                <th>Stock +</th>
                <th>Stock - </th>
                <th>Stock Adjustment </th>
                <th> Balance Stock  </th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let cash of Cash;">
                <td></td>
                <td>{{cash.item_id1}}</td>
                <td>{{cash.item_details1}}</td>
                <td></td>
                <td>{{cash.qty}}</td>
                <td></td>
                <td></td>
                <td></td>


              </tr>
              <tr  *ngFor="let cash1 of Cash;">
                <td></td>
                <td>{{cash1.item_id2}}</td>
                <td>{{cash1.item_details2}}</td>
                <td></td>
                <td>{{cash1.quantity2}}</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr  *ngFor="let cash1 of PCash;">
                <td></td>
                <td>{{cash1.item_id1}}</td>
                <td>{{cash1.item_details1}}</td>
                <td></td>
                <td></td>
                <td>{{cash1.qty}}</td>
                <td></td>
                <td></td>


              </tr>
              <tr  *ngFor="let cash2 of PCash;">
                <td></td>
                <td>{{cash2.item_id2}}</td>
                <td>{{cash2.item_details2}}</td>
                <td></td>
                <td></td>
                <td>{{cash2.quantity2}}</td>
                <td></td>
                <td></td>


              </tr>
              <tr *ngFor="let cash4 of credit;">
                <td></td>
                <td>{{cash4.item_id1}}</td>
                <td>{{cash4.item_details1}}</td>
                <td></td>
                <td>{{cash4.qty}}</td>
                <td></td>
                <td></td>
                <td></td>



              </tr>
              <tr *ngFor="let cash5 of credit;">
                <td></td>
                <td>{{cash5.item_id2}}</td>
                <td>{{cash5.item_details2}}</td>
                <td></td>
                <td>{{cash5.quantity2}}</td>
                <td></td>
                <td></td>
                <td></td>



              </tr>

              <tr  *ngFor="let cash5 of pcredit;">
                <td></td>
                <td>{{cash5.item_id1}}</td>
                <td>{{cash5.item_details1}}</td>
                <td></td>
                <td></td>
                <td>{{cash5.qty}}</td>
                <td></td>
                <td></td>

              </tr>
              <tr  *ngFor="let cash6 of pcredit;">
                <td></td>
                <td>{{cash6.item_id2}}</td>
                <td>{{cash6.item_details2}}</td>
                <td></td>
                <td></td>
                <td>{{cash6.quantity2}}</td>
                <td></td>
                <td></td>

              </tr>
            </tbody>
          </table>
        </div>









      </div>
        <br>
    <div class="container ">


      </div>

    <br>

      </form>


    </section>
    </body>



