<html>
  <title>
    <head>

    </head>
    <style>
      .nested {
  display: none;
}

    </style>
  </title>
  <body>
    <div class="container">
  1.  Assets<br>
  1.1  Current Assets <a href="#">Edit</a> |
  <a href="#">Delete</a><br>
   1.1.1 Bank Accounts <a href="#">Edit</a> |
   <a href="#">Delete</a><br>
   1.1.2 Cash-in-Hand <a href="#">Edit</a> |
   <a href="#">Delete</a><br>
    1.1.2.1 Cash <a href="#">Edit</a> |
    <a href="#">Delete</a><br>
    1.1.3 Deposits (Asset) <a href="#">Edit</a> |
    <a href="#">Delete</a><br>
    1.1.4  Loans & Advances (Asset) <a href="#">Edit</a> |
    <a href="#">Delete</a><br>
    1.1.5 Stock-in-Hand <a href="#">Edit</a> |
    <a href="#">Delete</a><br>
    1.1.6Sundry Debtors <a href="#">Edit</a> |
    <a href="#">Delete</a><br>
    1.2 Fixed Assets <a href="#">Edit</a> |
    <a href="#">Delete</a><br>
    1.3 Investments <a href="#">Edit</a> |
    <a href="#">Delete</a><br>
    1.4 Misc. Expenses (ASSET) <a href="#">Edit</a> |
    <a href="#">Delete</a><br>
   2. Liabilities<br>
    2.1 Branch / Divisions <a href="#">Edit</a> |
    <a href="#">Delete</a><br>
   2.2. Capital Account <a href="#">Edit</a> |
   <a href="#">Delete</a><br>
   2.2.1 Reserves & Surplus <a href="#">Edit</a> |
   <a href="#">Delete</a><br>
    2.3 Current Liabilities <a href="#">Edit</a> |
    <a href="#">Delete</a><br>
   2.3.1. Duties & Taxes <a href="#">Edit</a> |
   <a href="#">Delete</a><br>
    2.3.2. Provisions <a href="#">Edit</a> |
    <a href="#">Delete</a><br>
    2.3.3. Sundry Creditors <a href="#">Edit</a> |
    <a href="#">Delete</a><br>
  2.4.  Loans (Liability) <a href="#">Edit</a> |
  <a href="#">Delete</a><br>
  2.4.1.  Bank OD A/c <a href="#">Edit</a> |
  <a href="#">Delete</a><br>
   2.4.2  Secured Loans <a href="#">Edit</a> |
   <a href="#">Delete</a><br>
   2.4.3 Unsecured Loans <a href="#">Edit</a> |
   <a href="#">Delete</a><br>
  2.5.  Suspense A/c <a href="#">Edit</a> |
  <a href="#">Delete</a><br>
  2.6.  Profit & Loss A/c <a href="#">Edit</a> |
  <a href="#">Delete</a><br>
 3.  Expenses<br>
  3.1  Direct Expenses <a href="#">Edit</a> |
  <a href="#">Delete</a><br>
3.2    Indirect Expenses <a href="#">Edit</a> |
<a href="#">Delete</a><br>
   3.3 Purchase Accounts <a href="#">Edit</a> |
   <a href="#">Delete</a><br>
 4.   Income<br>
  4.1.  Direct Incomes <a href="#">Edit</a> |
  <a href="#">Delete</a><br>
  4.2.  Indirect Incomes <a href="#">Edit</a> |
  <a href="#">Delete</a><br>
  4.3.  Sales Account <a href="#">Edit</a> |
  <a href="#">Delete</a><br>
  </div>
  </body>
</html>
