.col-sm-5{
    padding-right: 3px;
    padding-left: 3px;
  }
  .col-sm-7{
    padding-right: 3px;
    padding-left: 3px;
  }
  .btn{
    background-color: #808F9C;
  
  
  }
  .form-control{
    background-color: #B0BCD7;
  height: 65px;
  margin-bottom: 3px;
  }
  // .container-sm{
  //   padding-left: 30px;
  //   padding-right: 30px;
  // }
  
  .row{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  