<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>
<body>
  <section>
      <div class="container" style="padding-top:30px">
          <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px; color: black;" >Journal Entry</p></b></button>

        </div>

      <form>
          <div class="container">

              <div class="row" style="padding-top: 150px; ">
                  <div style="padding-left: 140px; padding-right: 60px;" >
                      <button type="button" style="border-radius:20px; height: 140px; width: 350px;" class="b1" ><p style="font-size: 35px; color: black;"><b>Manual <br>Journal Entry </b></p></button>
                  </div>
                  <div style="padding-left: 140px; padding-right: 60px;" >
                      <button type="button" style="border-radius:20px; height: 140px; width: 350px;" class="b1" ><p style="font-size: 35px; color: black;"><b>Upload <br>Journal Entry </b></p></button>
                  </div>

              </div>



          </div>
      </form>
  </section>
</body>



