<html>
    <head> 
      <style>
        body
        {
          font-family: 'Times New Roman', Times, serif;
        }
      </style>  
    </head>
        
<body>
    <section style="padding-top:30px">
      <div class="container">
        <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px;">Registration </p></b></button>
         &emsp;
        <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Supplier Profile Edit </p></b></button>
        <br>
      </div>
  
      <form  action="">
        <div class="container-sm ">
  
          <div class="row" style="padding-top: 5px;">
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Company ID </label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Company ID" > -->
            </div>
            <div class="col-sm-9">
              <input type="text " style="border-radius:12px;" class="form-control"  placeholder="" >
            </div>
          </div>
  
          <div class="row" style="padding-top: 5px;">
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Customer Name </label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Customer Name" > -->
            </div>
            <div class="col-sm-9">
              <input type="text " style="border-radius:12px;" class="form-control" name="customer_name"  placeholder="" >
            </div>
          </div>
  
          <div class="row" style="padding-top: 5px;">
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Vat Reg No </label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Vat Reg No" > -->
            </div>
            <div class="col-sm-9">
              <input type="text " style="border-radius:12px;" class="form-control" name="vat_reg_no" placeholder="" >
            </div>
          </div>
  
          <div class="row" style="padding-top: 5px;">
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> CR No </label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="CR No" > -->
            </div>
            <div class="col-sm-3">
              <input type="text " style="border-radius:12px;" class="form-control" name="cr_no"  placeholder="" >
            </div>
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Expired On </label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Expired On" > -->
            </div>
            <div class="col-sm-3">
              <input type="date" style="border-radius:12px;" class="form-control" name="expired_on" placeholder="" >
            </div>
          </div>
          <div class="row" style="padding-top: 5px;">
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Land Phone No </label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Land Phone No" > -->
            </div>
            <div class="col-sm-3">
              <input type="text " style="border-radius:12px;" class="form-control" name="land_phone" placeholder="" >
            </div>
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Mob No </label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Mob No" > -->
            </div>
            <div class="col-sm-3">
              <input type="text " style="border-radius:12px;" class="form-control" name="mobile" placeholder="" >
            </div>
          </div>
          <div class="row" style="padding-top: 5px;">
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Contact Person </label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Contact Person" > -->
            </div>
            <div class="col-sm-3">
              <input type="text " style="border-radius:12px;" class="form-control" name="contact_person"  placeholder="" >
            </div>
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Mob No </label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Mob No" > -->
            </div>
            <div class="col-sm-3">
              <input type="text " style="border-radius:12px;" class="form-control" name="contact_mobile" placeholder="" >
            </div>
          </div>
  
          <div class="row" style="padding-top: 5px;">
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Email Id </label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Email Id" > -->
            </div>
            <div class="col-sm-9">
              <input type="text " style="border-radius:12px;" class="form-control" name="email"  placeholder="" >
            </div>
          </div>
          <div class="row" style="padding-top: 5px;">
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Location & Address </label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Location & Address" > -->
            </div>
            <div class="col-sm-9">
              <input type="text " style="border-radius:12px;" class="form-control" name="address"  placeholder="" >
            </div>
          </div>
          <div class="row" style="padding-top: 5px;">
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Opening Balance </label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Opening Balance" > -->
            </div>
            <div class="col-sm-9">
              <input type="text " style="border-radius:12px;" class="form-control" name="open_balance" placeholder="" >
            </div>
          </div>
          <div class="row" style="padding-top: 5px;">
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Credit Limit Amount </label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Credit Limit Amount" > -->
            </div>
            <div class="col-sm-9">
              <input type="text " style="border-radius:12px;" class="form-control" name="credit_lim_am" placeholder="" >
            </div>
          </div>
          <div class="row" style="padding-top: 5px;">
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Credit Limit Duration </label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Credit Limit Duration" > -->
            </div>
            <div class="col-sm-9">
              <input type="text " style="border-radius:12px;" class="form-control" name="credit_lim_dur" placeholder="" >
            </div>
          </div>
          <div class="row" style="padding-top: 5px;">
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Bank Account Name </label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Bank Account Name" > -->
            </div>
            <div class="col-sm-9">
              <input type="text " style="border-radius:12px;" class="form-control" name="bank_acc_name" placeholder="" >
            </div>
          </div>
          <div class="row" style="padding-top: 5px;">
            <div class="col-sm-3">
              <label class="form-control"  style="border-radius:12px;padding: 10px;">  Bank Account Number</label>
              <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Bank Account Number" > -->
            </div>
            <div class="col-sm-9">
              <input type="text " style="border-radius:12px;" class="form-control" name="bank_acc_no" placeholder="" >
            </div>
          </div>
        </div>
  
        <div class="container">
          <div class="row" style="padding-top: 15px;">
            <div class="col-6">
              <button type="submit" style="border-radius: 12px;width:500px;padding-right: 50px;margin-right: 50px;" class="btn btn-lg btn-block">Update</button>
            </div>
              <div class="col-6">
              <button type="submit" style="border-radius: 12px;width:500px;padding-right: 50px;margin-right: 50px;" class="btn btn-lg btn-block">Delete</button>
              </div>
              
  
  
  
          </div>
        </div>
      </form>
      <br>
      <!-- <form  action="">
  
        <button type="submit" style="border-radius: 12px;width: 80%;margin-left: 10%;margin-right: 50%;" class=" a btn btn-lg btn-block">Submit & Go to Home Page</button>
      </form>-->
      </section> 
    </body>
  
  
  

   
</html>