<head>
  
  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>  
</head>
<body>
  <section>
      <div class="container" style="padding-top:30px">
          <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px; color: black;" >Registration</p></b></button>

        </div>


          <div class="container">

              <div class="row" style="padding-top: 30px; ">
                  <div style="padding-left: 140px; padding-right: 60px;" >
                    <form (ngSubmit)="onSubmit1()" action="sales">
                      <button type="submit" style="border-radius:20px; height: 140px; width: 350px;" class="b1" ><p style="font-size: 35px; color: black;"><b>Customer <br> Registration</b></p></button>
                    </form>
                    </div>
                  <div style="padding-left: 100px;padding-right: 60px;">
                    <form (ngSubmit)="onSubmit2()" action="sales">
                      <button type="submit" style="border-radius:20px; height: 140px; width: 350px;" class="b1" ><p style="font-size: 35px; color: black;"><b>Supplier<br>Registration </b></p></button>
                    </form>
                    </div>
              </div>
              <div class="row" style="padding-top: 30px; ">
                  <div style="padding-left: 140px; padding-right: 60px;" >
                    <form (ngSubmit)="onSubmit3()" action="sales">
                      <button type="submit" style="border-radius:20px; height: 140px; width: 350px;" class="b1" ><p style="font-size: 35px; color: black;"><b>Ledger & group <br>Registration</b></p></button>
                    </form>
                    </div>
                  <div style="padding-left: 100px;padding-right: 60px;">
                    <form (ngSubmit)="onSubmit4()" action="sales">
                      <button type="submit" style="border-radius:20px; height: 140px; width: 350px;" class="b1" ><p style="font-size: 35px; color: black;"><b>Item <br>Registration</b></p></button>
                 </form>
                    </div>
              </div>
              <div class="row" style="padding-top: 30px; ">
                  <div style="padding-left: 140px; padding-right: 60px;" >
                    <form (ngSubmit)="onSubmit5()" action="sales">
                      <button type="submit" style="border-radius:20px; height: 140px; width: 350px;" class="b1" ><p style="font-size: 35px; color: black;"><b>Job<br>Registration</b></p></button>
                  </form>
                    </div>
                  <div style="padding-left: 100px;padding-right: 60px;">
                    <form (ngSubmit)="onSubmit6()" action="sales">
                      <button type="submit" style="border-radius:20px; height: 140px; width: 350px;" class="b1" ><p style="font-size: 35px; color: black;"><b>Employee <br>Registration</b></p></button>
                  </form>
                    </div>
              </div>


          </div>

  </section>
</body>
